<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2>Github</h2>

<div class="form-horizontal">
    <h4>Enter a Github username below then click the button</h4>
    <hr />
    <div class="form-group">
        <input type="text" name="ghusername" id="ghusername" placeholder="Github username...">
        <a href="#" id="btnGetProfile">GetProfile</a>
    </div>
</div>

<div id="ghUserProfile" class="clearfix"></div>

<script type="text/javascript">
    $(function () {
        $('#btnGetProfile').on('click', function (e) {
            e.preventDefault();

            $('#ghUserProfile').html('<div id="loader">@{<img src="~/Content/css/loader.gif" alt="loading...">}</div>');



            var username = $('#ghusername').val();
            var requri = 'https://api.github.com/users/' + username;
            var repouri = 'https://api.github.com/users/' + username + '/repos';

            requestJSON(requri, function (json) {
                if (json.message == "Not Found" || username == '') {
                    $('#ghUserProfile').html("<h2>No User Info Found</h2>");
                }

                else {
                    var fullname = json.name;
                    var username = json.login;
                    var aviurl = json.avatar_url;
                    var profileurl = json.html_url;
                    var location = json.location;
                    var followersnum = json.followers;
                    var followingnum = json.following;
                    var reposnum = json.public_repos;

                    if (fullname == undefined) { fullname = username; }

                    var outhtml = '<h2>' + fullname + ' <span class="smallname">(<a href="' + profileurl + '" target="_blank">' + username + '</a>)</span></h2>';
                    outhtml = outhtml + '<div class="ghcontent"><div class="avi"><a href="' + profileurl + '" target="_blank"><img src="' + aviurl + '" width="80" height="80" alt="' + username + '"></a></div>';
                    outhtml = outhtml + '<p>Followers: ' + followersnum + ' - Following: ' + followingnum + '<br>Repos: ' + reposnum + '</p></div>';
                    outhtml = outhtml + '<div class="repolist clearfix">';

                    var repositories;
                    $.getJSON(repouri, function (json) {
                        repositories = json;
                        outputPageContent();
                    });

                    function outputPageContent() {
                        if (repositories.length == 0) { outhtml = outhtml + '<p>No repos!</p></div>'; }
                        else {
                            outhtml = outhtml + '<p><strong>Repos List:</strong></p> <ul>';
                            $.each(repositories, function (index) {
                                outhtml = outhtml + '<li><a href="' + repositories[index].html_url + '" target="_blank">' + repositories[index].name + '</a></li>';
                            });
                            outhtml = outhtml + '</ul></div>';
                        }
                        $('#ghUserProfile').html(outhtml);
                    }
                }
            });
        });

        function requestJSON(url, callback) {
            $.ajax({
                url: url,
                complete: function (xhr) {
                    callback.call(null, xhr.responseJSON);
                }
            });
        }
    });
</script>
